<launch>
    <!-- Generates the URDF, useful for incorporating the manipulator in your own robot description -->
    <node name="xacro1" pkg="xacro" type="xacro" args="-o $(find pibot_description)/models/iti0201_robot/urdf/pibot.urdf $(find pibot_description)/models/iti0201_robot/urdf/generate_pibot.urdf.xacro" />
    <node name="xacro2" pkg="xacro" type="xacro" args="-o $(find pibot_description)/models/iti0201_robot_static/urdf/pibot.urdf $(find pibot_description)/models/iti0201_robot_static/urdf/generate_pibot.urdf.xacro" />
</launch>
